@mixin flexcol {
  display: flex;
  flex-direction: column;
}

@mixin flexbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin h2 {
  font-family: 'Bold';
  font-size: 2rem;
  direction: rtl;
}

$pink: #F15B62;
$ancor: #004990;
$button-font: 1.2rem;
$menu-font: 1.3rem;

body {
  margin: 0 auto;
  overflow-x: hidden;
  @include flexcol;
  .header {
    background-image: url('./assets/header_background.png');
    background-size: cover;
    width: 100vw;
    height: 43vw;
    .header__wrapper {
      height: 43vw;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
      @include flexcol;
      .nav {
        @include flexbetween;
        .nav__left {
          padding: 3.8vw 5.5vw;
          @include flexbetween;
          .nav__button-and-select {
            @include flexbetween;
            .nav__main-button {
              width: 150px;
              height: 50px;
              background: $pink;
              border-radius: 80px;
              border-width: 0;
              color: white;
              font-family: 'Bold';
              font-size: $button-font;
            }
            .nav__select {
              padding: 10px 25px;
              @include flexbetween;
              .nav__triangle {
                width: 20px;
                border-radius: 5px;
                padding: 5px;
                position: relative;
                color: white;
                &::after {
                  content: '';
                  position: absolute;
                  left: 5px;
                  bottom: -7px;
                  border: 7px solid transparent;
                  border-top: 7px solid white;
                }
              }
              .nav__no {
                font-family: 'Normal';
                font-size: $menu-font;
                color: white;
              }
            }
          }
          .nav__icons {
            border-left: 1px solid white;
            border-right: 1px solid white;
            @include flexbetween;
            padding: 0px 15px;
            .nav__loupe {
              .nav__loupe-icon {
                padding: 0 10px;
                img {
                  width: 1.8vw;
                  height: 1.8vw;
                }
              }
              .nav__loupe-title {
                color: white;
                font-family: 'Bold';
                font-size: 0.75rem;
                text-align: center;
              }
            }
            .nav__bell {
              .nav__bell-icon {
                padding: 0 10px;
                img {
                  width: 1.8vw;
                  height: 1.8vw;
                }
              }
              .nav__bell-title {
                color: white;
                font-family: 'Bold';
                font-size: 0.75rem;
                text-align: center;
              }
            }
          }
          .nav__phone {
            font-family: 'Normal';
            font-size: $button-font;
            color: white;
            @include flexbetween;
            padding: 0 12px;
            .nav__phone-number {
              padding: 0 10px;
            }
            .nav__phone-title {
              padding: 0 10px;
            }
          }
        }
        .nav__right {
          width: 22vw;
          padding: 30px 80px;
          @include flexbetween;
          .nav__secondary-button {
            @include flexbetween;
            padding: 20px;
            background: #FFFFFF;
            border-radius: 80px;
            width: 130px;
            height: 50px;
            font-size: $button-font;
            font-family: 'Bold';
            border-width: 2px;
            border-color: white;
            border-style: solid;
          }
          .nav__logo {
            img {
              width: 130px;
            }
          }
        }
      }
      .titles {
        color: white;
        @include flexcol;
        align-items:flex-end;
        padding: 20px 18vw;
        .titles__small-title {
          font-family: 'Normal';
          font-size: 1.6rem;
          direction: rtl;
          margin: 0;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
        }
        .titles__h1 {
          font-size: 4rem;
          line-height: 4.5rem;
          font-family: 'Normal';
          margin: 0;
          text-align: right;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
        }
        .titles__bottom {
          @include flexbetween;
          font-family: 'Bold';
          padding: 20px 0;
          .titles__bottom-sign {
            font-size: $button-font;
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
          }
          .titles__bottom-inscription {
            font-size: $button-font;
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
          }
        }
      }

      .search {
        align-self: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
        border-radius: 102px;
        width: 38vw;
        margin-top: 70px;
        margin-bottom: -30px;
        height: 90px;
        @include flexbetween;
        padding: 20px 25px;
        .search__button {
          background: #596172;
          box-shadow: 0px 4px 14px rgba(15, 15, 15, 0.4);
          border-radius: 51.046px;
          width: 150px;
          height: 50px;
          border-width: 0;
          color: white;
          font-family: 'Bold';
          font-size: $button-font;
        }
        .search__inscription {
          color: #000000;
          opacity: 0.5;
          font-family: 'Bold';
          font-size: 1.5rem;
          direction: rtl;
        }
      }
    }
  }

  .sect-one-two-wrapper {

    background-image: url('./assets/big-oval.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 43vw;
    .one{
      padding-top: 80px;
      .one__header {
        width:100vw;
        @include flexcenter;
        .one__h2 {
          @include h2;
        }
      }
      .one__articles {
        width: 100vw;
        padding: 1vw;
        @include flexcenter;
        article {
          background-color: white;
          width: 7.75vw;
          height: 11vw;
          padding: 0.5vw 1vw;
          margin: 0 0.75vw;
          box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
          border-radius: 24px;
          .logo {
            img {
              width: 8vw;
            }
          }
          .inscription {
            margin-top: -1vw;
            font-family: 'Normal';
            text-align: center;
            font-size: $button-font;
            direction: rtl;
          }
        }
      }
    }

    .two {
      margin-top: 7vw;
      .two__header {
        width:100vw;
        @include flexcenter;
        .two__h2 {
          @include h2;
        }
      }
      .two__articles {
        width: 100vw;
        @include flexcenter;
        article {
          background-color: white;
          width: 19vw;
          height: 26vw;
          margin: 1vw;
          box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
          border-radius: 30px;
          padding: 1vw;
          .picture {
            img {
              width: 19vw;
            }
          }
          .title {
            width: 100%;
            @include flexcenter;
            font-family: 'Normal';
            font-size: 1.5rem;
            direction: rtl;
            margin-bottom: 0;
          }
          .description {
            width: 100%;
            @include flexcenter;
            text-align: center;
            font-family: 'Normal';
            font-size: 1.2rem;
            margin-top: 0.5vw;
            direction: rtl;
          }
          .ancor {
            width: 100%;
            @include flexcenter;
            color: $ancor;
            font-family: 'Bold';
            font-size: $button-font;
            text-decoration: none;
          }
        }
      }
    }

  }
  .three {
    background-image: url('./assets/medium-oval.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5vw;
    width: 100vw;
    height: 66vw;
    @include flexcol;
    .three__paragraph {
      width:100vw;
      @include flexcenter;
      color: rgba(1, 1, 1, 0.6);
      font-family: 'Normal';
      font-size: $menu-font;
      margin-bottom: 0;
    }
    .three__h2 {
      @include flexcenter;
      @include h2;
      margin-top: 0.5vw;
      direction: rtl;
    }
    .three__circles {
      @include flexbetween;
      height: 34vw;
      margin-top: 2vw;
      .three__one {
        background-color: rgba(26, 15, 145, 0.05);
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        margin-left: -6vw;
        margin-top: 9vw;
      }
      .three__two {
        margin-left: -9vw;
        @include flexcol;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .three__two-main {
          width: 18vw;
          height: 18vw;
          background-color: rgba(20, 74, 146, 1);
          border-radius: 50%;
          @include flexcenter;
          flex-direction: column;
          color: white;
          font-family: 'Normal';
          .title {
            font-size: 4.8rem;
            margin: -2vw 0 0;
          }
          .subtitle {
            font-size: 2.2rem;
            margin: -1vw 0 0;
          }
          .description {
            font-size: 1.2rem;
            margin: 0;
          }
        }
        .three__two-secondary {
          width: 10vw;
          height: 10vw;
          background-color: rgba(89, 97, 114, 0.05);
          border-radius: 50%;
        }
      }
      .three__three {
        margin-left: -7vw;
        @include flexcol;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .three__three-secondary {
          margin-top: 3vw;
          width: 10vw;
          height: 10vw;
          background-color: rgba(89, 97, 114, 0.05);
          border-radius: 50%;
        }
        .three__three-main {
          width: 18vw;
          height: 18vw;
          background-color: rgba(232, 237, 244, 1);
          border-radius: 50%;
          @include flexcenter;
          flex-direction: column;
          font-family: 'Normal';
          .title {
            color: $ancor;
            font-size: 4.8rem;
            margin: -2vw 0 0;
          }
          .subtitle {
            font-size: 2.2rem;
            margin: -1vw 0 0;
          }
          .description {
            font-size: 1.2rem;
            margin: 0;
          }
        }
      }
      .three__four {
        margin-left: -7vw;
        @include flexcol;
        justify-content: space-between;
        height: 29vw;
        width: 17vw;
        margin-top: -2vw;
        .three__four-main {
          width: 16vw;
          height: 16vw;
          background-color: rgba(91, 128, 179, 1);
          border-radius: 50%;
          @include flexcenter;
          flex-direction: column;
          color: white;
          font-family: 'Normal';
          .title {
            font-size: 4.8rem;
            margin: -2vw 0 0;
          }
          .subtitle {
            font-size: 2.2rem;
            margin: -1vw 0 0;
          }
          .description {
            font-size: 1.2rem;
            margin: 0;
          }
        }
        .three__four-secondary {
          width: 11vw;
          height: 11vw;
          background-color: rgba(89, 97, 114, 0.05);
          border-radius: 50%;
          align-self: end;
        }
      }
      .three__five {
        margin-left: -5vw;
        @include flexcol;
        justify-content: space-between;
        align-items: center;
        height: 27vw;
        margin-top: 5vw;
        .three__five-main {
          width: 17vw;
          height: 17vw;
          background-color: rgba(208, 219, 233, 1);
          border-radius: 50%;
          @include flexcenter;
          flex-direction: column;
          font-family: 'Normal';
          .title {
            color: $ancor;
            font-size: 4.8rem;
            margin: -2vw 0 0;
          }
          .subtitle {
            font-size: 2.2rem;
            margin: -1vw 0 0;
          }
          .description {
            font-size: 1.2rem;
            margin: 0;
          }
        }
        .three__five-secondary {
          width: 7vw;
          height: 7vw;
          background-color: rgba(29, 161, 242, 0.05);
          border-radius: 50%;
        }
      }
      .three__six {
        margin-left: -10vw;
        height: 100%;
        .three__six-secondary {
          width: 7vw;
          height: 7vw;
          background-color: rgba(160, 215, 255, 0.15);
          border-radius: 50%;
        }
      }
      .three__seven {
        margin-left: -11vw;
        height: 100%;
        display: flex;
        align-items: flex-end;
        .three__seven-secondary {
          width: 15vw;
          height: 15vw;
          background-color: rgba(26, 15, 145, 0.05);
          border-radius: 50%;
          margin-bottom: 1vw;
        }
      }
      .three__eight {
        margin-left: -15vw;
        height: 100%;
        display: flex;
        margin-right: -5vw;
        margin-top: -4vw;
        .three__eight-main {
          width: 19vw;
          height: 19vw;
          background-color: rgba(232, 237, 244, 1);
          border-radius: 50%;
          @include flexcenter;
          flex-direction: column;
          font-family: 'Normal';
          .title {
            color: $ancor;
            font-size: 4.8rem;
            margin: -2vw 0 0;
          }
          .subtitle {
            font-size: 2.2rem;
            margin: -1vw 0 0;
          }
          .description {
            font-size: 1.2rem;
            margin: 0;
          }
        }
      }
    }
  }
}

@font-face {
  font-family: 'Bold';
  src: url('./assets/fonts/Assistant-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Normal';
  src: url('./assets/fonts/Assistant-Regular.woff') format('woff');
}
